<div class="admin-layout-wrapper">

    <!-- Sidebar -->
    <nav id="sidebar" [ngClass]="toggle ? 'active' : ''">
        <div class="sidebar-header">
            <h3>{{'HEADER.ADMIN' | translate}}</h3>
            <button pButton class="text-right" type="button" [icon]="toggle ? 'pi pi-angle-right' : 'pi pi-angle-left'" (click)="toggleMenu()"   iconPos="left"></button>
        </div>

        <div class="menu-section">
            <p-panelMenu id="sidebar-menu" [multiple]="false" [model]="menu1" [style]="{'width':'240px'}"></p-panelMenu>
        </div>

        <div class="menu-section mb-5">
            <div class="section-title">{{'HEADER.APPLICATION' | translate}}</div>
            <p-panelMenu id="sidebar-menu" [multiple]="false" transitionOptions="0ms" [model]="menu2" [style]="{'width':'240px'}"></p-panelMenu>
        </div>
    </nav>

    <!-- Page Content -->
    <div id="content" [style.margin-left]="toggle ? '0px': '250px'">
        <div class="container" *ngIf="!showRoute">
            <div class="row justify-content-center">
                <div class="col-md-10 text-center">
                    <div class="vh-align">
                        <h1>{{'PARAMETERS.SELECT_MENU' | translate}}</h1>
                    </div>
                </div>
            </div>
        </div>
        <router-outlet></router-outlet>
    </div>

</div>       