<div class="card border-0 pt-0">
  <eland-table 
      [tableConfig]="tableConfig" 
      (reloadTable)="reload()" 
      (actions)="call($event)"
      (addCallBack)="showRegisreyBookElementDialogue()" 
      [datas]="registries" 
      [cols]="cols">
      <ng-template #body let-col="col" let-item>
        <td *ngIf="col.field === 'code'">{{ item.code }}</td>
        <td *ngIf="col.field === 'name'">{{ item.name }}</td>
        <td *ngIf="col.field === 'title_type'">{{('CODELIST.VALUES.' + item.titleType.value) | translate}}</td>
        <td *ngIf="col.field === 'description'">{{ item.description }}</td>
      </ng-template>
    </eland-table>
</div>

<!-- dialog -->

<ng-template #lazyParamsTerritoryElement *ngIf="currentRegistry"></ng-template>

